{%- extends "base.html" %}

{%- block content %}
    <div>
    {%- for page in paginator.pages %}
      <article>
        <h1><a href="{{ page.permalink | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}">{{ page.title }}</a></h1>
        <div class="sum">
        <p>
        {%- if page.summary %}
          {{ page.summary | markdown(inline=true) | safe }}
        {%- elif page.description %}
          {{ page.description | safe }}
        {%- elif page.content %}
          {{ page.content | striptags | truncate(length=150) | safe }}
        {%- elif page.extra.static_thumbnail %}
        {%- endif %}
          <a href="{{ page.permalink | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}">...more</a>
        </div>
      </article>
    {%- endfor %}
    </div>
{%- endblock content %}
